<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <!-- pluralize(数値, 英語の単語) -> 英単語を数値に応じて単数形や複数形を出力する -->
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>